.root {
  .container {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #121212;
    color: white;
  }
  .result {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: large;
    width: 13rem;
    background-color: #121212;
    border: 1px solid #525252;
    color: white;
    border-radius: 10px;
  }
  .button {
    font-size: large;
    padding: 0.5rem;
    width: 13rem;
    margin: 0.5rem 0;
    border: 1px solid black;
    background-color: black;
    border-radius: 10px;
    color: white;
  }
}